<div class="grid">
  <h3>Cadastro de Usuário</h3>
  <div class="col-4">
    <label>Login: </label>
  </div>
  <div class="col-6 col-offset-2">
    <input type="text" pInputText />
  </div>
  <div class="col-4">
    <label>Senha: </label>
  </div>
  <div class="col-6 col-offset-2">
    <input type="password" pPassword />
  </div>
  <div class="col-4">
    <label>Nome: </label>
  </div>
  <div class="col-6 col-offset-2">
    <input type="text" pInputText />
  </div>
  <div class="col-12">
    <button pButton type="button" label="Salvar" ></button>
  </div>
</div>
